html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-size: 10px;
}

*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

body main #left {
    /* border: 3px solid black; */
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
}

body main #left h1 {
    text-align: center;
    font-size: 4.6rem;
}

body main #left div {
    width: 100%;
}

body main #left #game-mode-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    row-gap: 10px;
}

body main #left #game-mode-div h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

body main #left #game-mode-div #radiobox {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body main #left #game-mode-div #radiobox input {
    width: 20px;
    height: 20px;
}

body main #left .button-div {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

body main #left .button-div button {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    width: 180px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

body main #left .button-div #start {
    background-color: rgb(230, 0, 69);
}

body main #left .button-div #start:hover {
    background-color: rgb(209, 0, 63);
}

body main #left .button-div #restart {
    background-color: rgb(68, 0, 255);
}

body main #left .button-div #restart:hover {
    background-color: rgb(56, 0, 209);
}

body main #right {
    /* border: 3px solid black; */
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body main #right h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

body main #grid {
    position: relative;
    width: 550px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -8px -8px 0px 8px rgba(0, 0, 0, 1);
}

body main #grid .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.filled {
    cursor: not-allowed !important;
}

.winning-box {
    background-color: green !important;
}

main #grid .box#one:hover {
    background-color: #bfcdf2;
}

main #grid .box#two:hover {
    background-color: #dfbff2;
}

main #grid .box#three:hover {
    background-color: #bfe6f2;
}

main #grid .box#four:hover {
    background-color: #bff2c4;
}

main #grid .box#five:hover {
    background-color: #f2e2bf;
}

main #grid .box#six:hover {
    background-color: #f2bfbf;
}

main #grid .box#seven:hover {
    background-color: #f2bfed;
}

main #grid .box#eight:hover {
    background-color: #bfc1f2;
}

main #grid .box#nine:hover {
    background-color: #e8f2bf;
}

main #grid .box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10rem;
}