html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: 10px;
}

*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

input {
    accent-color: black;
}

body main {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    min-height: 100vh;
    padding: 20px;
    /* column-gap: 50px; */
}

body main #left {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
}

body main #left h1 {
    text-align: center;
    font-size: 4.6rem;
    white-space: nowrap;
}

body main #left div {
    width: 100%;
}

body main #left #game-mode-div {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    row-gap: 10px;
}

body main #left #game-mode-div h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

body main #left #game-mode-div #radiobox {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body main #left #game-mode-div #radiobox input {
    width: 20px;
    height: 20px;
}

body main #left #comp-first {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

body main #left #comp-first label {
    font-size: 1.6rem;
}

body main #left #comp-first input {
    width: 20px;
    height: 20px;
}

body main #left .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

body main #left .button-div button {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    width: 180px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

body main #left .button-div #start {
    background-color: rgb(230, 0, 69);
}

body main #left .button-div #start:hover {
    background-color: rgb(209, 0, 63);
}

body main #left .button-div #restart {
    background-color: rgb(68, 0, 255);
}

body main #left .button-div #restart:hover {
    background-color: rgb(56, 0, 209);
}

body main #right {
    /* border: 3px solid black; */
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

body main #right h3 {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 2rem;
}

body main #grid {
    width: 530px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -8px -8px 0px 8px rgba(0, 0, 0, 1);
}

body main #grid .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.filled {
    cursor: not-allowed !important;
}

.winning-box {
    background-color: green !important;
}

main #grid .box#one:hover {
    background-color: #bfcdf2;
}

main #grid .box#two:hover {
    background-color: #dfbff2;
}

main #grid .box#three:hover {
    background-color: #bfe6f2;
}

main #grid .box#four:hover {
    background-color: #bff2c4;
}

main #grid .box#five:hover {
    background-color: #f2e2bf;
}

main #grid .box#six:hover {
    background-color: #f2bfbf;
}

main #grid .box#seven:hover {
    background-color: #f2bfed;
}

main #grid .box#eight:hover {
    background-color: #bfc1f2;
}

main #grid .box#nine:hover {
    background-color: #e8f2bf;
}

main #grid .box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10rem;
}

@media screen and (max-width: 1199px) {
    body main #left h1 {
        font-size: 4rem;
    }

    body main #left #game-mode-div {
        font-size: 1.6rem;
    }

    body main #right h3 {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
    }
    
    body main #grid {
        width: 370px;
        row-gap: 10px;
        padding: 20px;
        box-shadow: -5px -5px 0px 5 px rgba(0, 0, 0, 1);
    }
    
    body main #grid .box {
        width: 100px;
        height: 100px;
    }

    body main #right h3 {
        font-size: 1.6rem;
    }

    main #grid .box p {
        font-size: 8rem;
    }
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
    font-size: 1.6rem;
    font-family: monospace;
}

footer a {
    color: black;
}

@media screen and (max-width: 999px) {
    body main {
        flex-wrap: wrap;
        padding: 50px 20px;
        row-gap: 50px;
    }

    body main #left {
        width: 100%;
        row-gap: 50px;
    }

    body main #right {
        width: 100%;
    }
}

@media screen and (max-width: 499px) {

    body main #left h1 {
        font-size: 3rem;
    }

    body main #left #game-mode-div {
        font-size: 1.4rem;
    }

    body main #left .button-div button {
        font-size: 1.6rem;
        width: 150px;
        padding: 10px 0;
    }

    body main #right h3 {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
    }

    body main #grid {
        width: 300px;
        row-gap: 10px;
        padding: 15px;
        box-shadow: -5px -5px 0px 5 px rgba(0, 0, 0, 1);
    }
    
    body main #grid .box {
        width: 80px;
        height: 80px;
    }

    main #grid .box p {
        font-size: 5rem;
    }
}